/* @font-face {
  font-family: "FONT";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("FONT Regular"), local("FONT-Regular"),
    url("../fonts/FONT-Regular.woff2") format("woff2");
} */
